.vs/
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
obj/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
Build/
Builds/
ServerData/
StreamingAssets/aa/
sysinfo.txt
.idea/
.DS_Store
Thumbs.db